<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DBPortalEntities" connectionString="metadata=res://*/PortalEntities.PortalModel.csdl|res://*/PortalEntities.PortalModel.ssdl|res://*/PortalEntities.PortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11;initial catalog=BAO_DAIBIEU_NHANDAN;user id=qlns;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AITABAOCAOEntities" connectionString="metadata=res://*/AitaModel.AITA.csdl|res://*/AitaModel.AITA.ssdl|res://*/AitaModel.AITA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=AITABAOCAO;persist security info=True;user id=admin;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DTI_FULLEntities" connectionString="metadata=res://*/Aita2022Model.Aita2022Model.csdl|res://*/Aita2022Model.Aita2022Model.ssdl|res://*/Aita2022Model.Aita2022Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUYPC;initial catalog=DTI_FULL;persist security info=True;user id=sa;password=12345678;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DTI_FULL_2023" connectionString="metadata=res://*/Aita2022Model.DtiAita2022.csdl|res://*/Aita2022Model.DtiAita2022.ssdl|res://*/Aita2022Model.DtiAita2022.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUYPC;initial catalog=DTI_FULL;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>