USE [LinkManager]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/31/2024 12:05:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppClaim]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppLogin]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AppLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppRole]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AppRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[BirthDay] [datetime] NULL,
	[Gender] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[FullName] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[TypeAccount] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AppUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserRole]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRole](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AppUserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnvironmentEntity]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnvironmentEntity](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedID] [bigint] NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedID] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteId] [bigint] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnvironmentEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Href] [nvarchar](max) NULL,
	[SystemId] [bigint] NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedID] [bigint] NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedID] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteId] [bigint] NULL,
	[Ip] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [ntext] NULL,
	[ImageThumb] [nvarchar](max) NULL,
	[CategoryId] [bigint] NULL,
	[IsPublish] [bit] NULL,
	[PublishDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[AttachFileData] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedID] [bigint] NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedID] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteId] [bigint] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemEntity]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemEntity](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EnvironmentId] [bigint] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ThuTu] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedID] [bigint] NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedID] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteId] [bigint] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLink]    Script Date: 3/31/2024 12:05:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLink](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LinkId] [bigint] NULL,
	[UserId] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedID] [bigint] NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedID] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteId] [bigint] NULL,
 CONSTRAINT [PK_dbo.UserLink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([Id], [UserName], [Email], [PhoneNumber], [BirthDay], [Gender], [Address], [FullName], [Avatar], [TypeAccount], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount]) VALUES (1, N'admin', NULL, NULL, NULL, 0, NULL, NULL, NULL, N'BussinessUser', 0, N'AIkiPgLcX551RGzDcJP8ep0RAXb3G/tNywSZiOh3fdcfp4DvCMnX6Nep4Sv36QWAQw==', N'fd0c41b6-4c63-43f2-87e1-2c2122806831', 0, 0, NULL, 0, 0)
INSERT [dbo].[AppUser] ([Id], [UserName], [Email], [PhoneNumber], [BirthDay], [Gender], [Address], [FullName], [Avatar], [TypeAccount], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount]) VALUES (2, N'chuyenvien', N'tienguyennn@gmail.com', N'0833444838', NULL, 0, NULL, N'Tiến Nguyên', N'images/avatars/profile-pic.jpg', NULL, 0, N'AK8YTWPT1O7lUKxfQAgiCDGA2uuSuIF0Vnh6RUlSMB8b3xed8qDHK9bGpnZlXE1w0A==', N'18ea2f2a-5bd0-467f-90fc-3f4e3ccf4d5b', 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[AppUser] OFF
GO
SET IDENTITY_INSERT [dbo].[EnvironmentEntity] ON 

INSERT [dbo].[EnvironmentEntity] ([Id], [Name], [Code], [Order], [Description], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (4, N'DR', N'DR', 0, NULL, CAST(N'2024-03-22T18:57:58.133' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:30:42.600' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
INSERT [dbo].[EnvironmentEntity] ([Id], [Name], [Code], [Order], [Description], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (5, N'OAT', N'OAT', 1, NULL, CAST(N'2024-03-22T18:59:14.920' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:30:39.733' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
INSERT [dbo].[EnvironmentEntity] ([Id], [Name], [Code], [Order], [Description], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (6, N'UAT', N'UAT', 3, NULL, CAST(N'2024-03-22T21:52:30.133' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:30:36.950' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EnvironmentEntity] OFF
GO
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Id], [Name], [Href], [SystemId], [Active], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Ip], [Description]) VALUES (1, N'Tiến Nguyên', N'http://localhost:56992/LinkArea/Link', NULL, 1, CAST(N'2024-03-21T14:38:04.073' AS DateTime), N'admin', 17, CAST(N'2024-03-21T14:38:04.073' AS DateTime), N'admin', 17, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Link] ([Id], [Name], [Href], [SystemId], [Active], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Ip], [Description]) VALUES (2, N'Tiến Nguyên', N'http://localhost:56992/LinkArea/Link', NULL, 1, CAST(N'2024-03-21T14:38:30.677' AS DateTime), N'admin', 17, CAST(N'2024-03-21T16:03:05.983' AS DateTime), N'chuyenvien', 18, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Link] ([Id], [Name], [Href], [SystemId], [Active], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Ip], [Description]) VALUES (3, N'asasd', N'http://localhost:56992/LinkArea/Link', NULL, 1, CAST(N'2024-03-21T16:03:18.073' AS DateTime), N'chuyenvien', 18, CAST(N'2024-03-21T16:03:18.073' AS DateTime), N'chuyenvien', 18, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Link] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [Description], [Content], [ImageThumb], [CategoryId], [IsPublish], [PublishDate], [Status], [AttachFileData], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (1, N'tin tức 1', N'sadasdsadsa', N'<p>&aacute;dasdasdas</p>
', N'Uploads/News/news-110x110-2.jpg', NULL, 1, NULL, N'Slide', NULL, CAST(N'2024-03-21T10:39:19.790' AS DateTime), N'admin', 16, CAST(N'2024-03-21T16:49:12.790' AS DateTime), N'admin', 17, NULL, NULL, NULL)
INSERT [dbo].[News] ([Id], [Title], [Description], [Content], [ImageThumb], [CategoryId], [IsPublish], [PublishDate], [Status], [AttachFileData], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (2, N'Sự kiện', NULL, NULL, N'Uploads/News/news-110x110-1.jpg', NULL, 1, NULL, N'Slide', NULL, CAST(N'2024-03-21T16:49:05.857' AS DateTime), N'admin', 17, CAST(N'2024-03-21T16:49:05.890' AS DateTime), N'admin', 17, NULL, NULL, NULL)
INSERT [dbo].[News] ([Id], [Title], [Description], [Content], [ImageThumb], [CategoryId], [IsPublish], [PublishDate], [Status], [AttachFileData], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (3, N'Tieu de', NULL, NULL, N'Uploads/News/news-110x110-4.jpg', NULL, 1, NULL, N'Slide', NULL, CAST(N'2024-03-21T16:49:31.820' AS DateTime), N'admin', 17, CAST(N'2024-03-21T16:49:31.850' AS DateTime), N'admin', 17, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemEntity] ON 

INSERT [dbo].[SystemEntity] ([Id], [EnvironmentId], [Name], [Description], [ThuTu], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (1, 4, N'system1', NULL, 1, CAST(N'2024-03-22T19:14:35.093' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:30:00.950' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
INSERT [dbo].[SystemEntity] ([Id], [EnvironmentId], [Name], [Description], [ThuTu], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (2, 4, N'System 2', NULL, 1, CAST(N'2024-03-22T21:41:48.680' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:29:57.273' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
INSERT [dbo].[SystemEntity] ([Id], [EnvironmentId], [Name], [Description], [ThuTu], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId], [Active]) VALUES (3, 4, N'System dr', NULL, 0, CAST(N'2024-03-22T21:51:15.647' AS DateTime), N'admin', 17, CAST(N'2024-03-30T22:29:53.190' AS DateTime), N'admin', 1, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemEntity] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLink] ON 

INSERT [dbo].[UserLink] ([Id], [LinkId], [UserId], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (3, 19, 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, NULL, NULL, NULL)
INSERT [dbo].[UserLink] ([Id], [LinkId], [UserId], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (4, 14, 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, NULL, NULL, NULL)
INSERT [dbo].[UserLink] ([Id], [LinkId], [UserId], [CreatedDate], [CreatedBy], [CreatedID], [UpdatedDate], [UpdatedBy], [UpdatedID], [IsDelete], [DeleteTime], [DeleteId]) VALUES (5, 15, 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, CAST(N'2024-03-31T00:35:47.630' AS DateTime), N'admin', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserLink] OFF
GO
ALTER TABLE [dbo].[EnvironmentEntity] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[SystemEntity] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[AppClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppClaim_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppClaim] CHECK CONSTRAINT [FK_dbo.AppClaim_dbo.AppUser_UserId]
GO
ALTER TABLE [dbo].[AppLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppLogin_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppLogin] CHECK CONSTRAINT [FK_dbo.AppLogin_dbo.AppUser_UserId]
GO
ALTER TABLE [dbo].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRole_dbo.AppRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AppRole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRole] CHECK CONSTRAINT [FK_dbo.AppUserRole_dbo.AppRole_RoleId]
GO
ALTER TABLE [dbo].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRole_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRole] CHECK CONSTRAINT [FK_dbo.AppUserRole_dbo.AppUser_UserId]
GO
