@{

}
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well SearchBox">

        @using (Ajax.BeginForm("searchData", "News", new { Area = "NewsArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "AjaxFormError",
                OnSuccess = "AjaxSearchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
        <div class="row row-block">
            <div class="col-md-6 row-block">
                <div class="col-md-4 txt-label">Loại thông tin sự kiện</div>
                <div class="col-md-8">
                    @Html.DropDownList("StatusFilter", ViewBag.ListLoaiTT as List<SelectListItem>, "- Chọn loại tin tức -", new { @class = "form-control select2" })
                </div>
            </div>
            <div class="col-md-6 row-block">
                <div class="col-md-4 txt-label">Tiêu đề</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="TitleFilter" />
                </div>
            </div>
            <div class="col-md-12 center" style=" margin-top:20px;">
                <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Tìm kiếm
                </button>
                <a href="/NewsArea/News/ExportExcel" class="btn btn-labeled btn-success btn-sm"><span class='btn-label'>
            <i class='glyphicon glyphicon-download'></i></span> Xuất Excel</a>
                <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                    Đóng
                </a>
            </div>
        </div>

        }
    </div>
</div>


