
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var msg = TempData["Msg"];
}
@*@Html.Partial("_QuyTrinhNghiepVuPartial")*@

<div class="container" style="margin-bottom: 50px;">
    <div style="display: block;width: 100%;padding: 100px;border-bottom: 2px solid #0072ce;border-radius: 20px;">
        <h1 style="text-align: center;font-size: 50px;color: #005494;">Gửi email lấy lại mật khẩu thành công!</h1>
    </div>

    <img src="~/assets/images/email.png" style="display: block;margin: 0 auto;width: 130px;margin-top: -70px;background-color: #ffffff;" />
    <p style="font-size: 20px; text-align:center;">Chúng tôi đã gửi email lấy lại mật khẩu, vui lòng kiểm tra email để biết thêm thông tin chi tiết.</p>
</div>


<script type="text/javascript">
$(document).ready(function () {
    if ('@msg' == '1') {
        NotiSuccess("Thành công", "Bạn đã gửi phản ánh thành công!");
    }
})
</script>