@{
    ViewBag.Title = "Cập nhật mật khẩu mới thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("_QuyTrinhNghiepVuPartial")
<div class="clearfix">

</div>
<div class="text-center" style="margin-top:50px; ">

    <hgroup class="title">
        <h1 style="color:#00b894;">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Mật khẩu của bạn đã được thay đổi. Vui lòng @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
