@using BotDetect.Web.Mvc;
@using Web;
@using Model.IdentityEntities;
@model AppUser
@{
    ViewBag.Title = "UpdatePassResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center text-danger">Chúng tôi đã gửi một liên kết đến hòm thư đã đăng ký của quý vị</h3>
        <h4 class="text-center ">Vui lòng kiểm tra hòm thư và cập nhật mật khẩu mới</h4>
    </div>
</div>

