<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net45" />
  <package id="bblanchon.PDFium.Win32" version="121.0.6110" targetFramework="net48" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net48" />
  <package id="DnsClient" version="1.0.7" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net45" />
  <package id="Ghostscript.NET" version="1.2.3.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.23.0" targetFramework="net48" />
  <package id="Grpc" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.46.6" targetFramework="net48" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Magick.NET.Core" version="13.4.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.7.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.7.3" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.7.3" targetFramework="net45" />
  <package id="morelinq" version="4.0.0" targetFramework="net48" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="PDFtoImage" version="2.4.3" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.6" targetFramework="net48" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net48" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net48" />
</packages>