@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tài khoản bị khóa";
}

<hgroup>
    <h1 class="r text-center" style="color:white">Tài khoản của bạn đã bị khóa.</h1>
    <h2 class=" text-center">Tài khoản sẽ được mở lại lúc @ViewBag.TimeAutoUnlock</h2>
</hgroup>
