 .container {
        width: -moz-fit-content !important;
        width: fit-content !important;
    }
     
   
    #formKeKhai table tr td:nth-child(6) {
        width: 27% !important;
        word-break: break-word !important;
    }
   
    .ajax-file-upload-container {
        margin: 0px;
    }
    .ajax-file-upload-filename {
        line-height: 0.8 !important;
    }
    .ajax-file-upload-green {
        margin: 1px 10px 5px 0px !important;
    }
    
    .container {
        padding-top: 0px;
    }
    .content-right h2 {
        padding-top: 15px;
    }