.page-content {
    /*background-color: #e4e6e9;*/
    background-color: white;
    padding: 5px;
}

.footer .footer-inner .footer-content {
    left: 0;
    bottom: 0;
    background-color: white;
}

#timkiem-nangcao {
    padding: 0px 20px;
}

.label-chart-dotdanhgia {
    font-weight: bold;
    color: #000;
    font-family: Arial;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    text-align: center;
}

.btn-chart-detail-diem-trucot {
    font-family: Arial;
}
.header-chiso h4 {
    margin: 0;
    color: white;
    font-family: Roboto-bold;
    font-size: 22px;
}

.header-chiso {
    padding: 25px 20px;
    background-color: #0078d4;
}

.heading-color .panel-title .heading-click i.fa-angle-right {
    display: block;
}

.heading-color .panel-title .heading-click i {
    display: none;
    font-weight: bold;
    position: absolute;
    top: 17px;
    left: 30px;
    font-size: 16px;
}

.heading-color .panel-title .heading-click {
    font-size: 18px;
    font-family: Roboto;
    width: 100%;
    float: left;
}



.heading-color {
    padding: 0 0 0 15px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    position: relative;
}

    .heading-color .panel-title {
        background-color: #edf4f9;
        padding: 17px 15px 17px 35px;
        width: calc(100% - 100px);
    }

    .heading-color .heading-so a {
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        color: #333;
    }

    .heading-color .heading-so {
        width: 100px;
        margin: 0;
        padding: 17px 5px;
        text-align: center;
        font-family: Roboto;
    }

.mg-20 {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.pd-20 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-body span:nth-child(2) {
    float: left;
    width: 100px;
    padding: 15px;
    text-align: center;
}

.panel-body span:nth-child(1) {
    width: calc(100% - 100px);
    float: left;
    padding: 15px;
}

.panel-body {
    background-color: #36b0d1;
    border-bottom: 1px solid #fff;
    color: white;
    font-family: Roboto;
    padding: 0;
}

.check-show .fa-angle-right {
    display: none !important;
}

.check-show .fa-angle-down {
    display: block !important;
}
.highcharts-color-1 {
    fill: #AA4643;
    stroke: #AA4643;
}