.btn-kekhai-trucotso-khac{
    float:left;
}
#block--kekhai-container {
    width: 100%;
    margin: 0;
}
.block--kekhai-container {
    width: 100%;
    margin: 0;
}

#formKeKhaiSoLieu table tr td,
#formGiaiTrinhSoLieu table tr td,
#formChotSoLieu table tr td {
    background: #ffffff;
}

table p.pt-Normal {
    margin-bottom: 0px !important;
}

.input-line {
    border-bottom: 1px dotted black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5px;
    outline: none;
    height: 40px;
    max-width: 140px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-line-tb {
    border-bottom: 1px dotted black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5px;
    outline: none;
    height: 20px;
    max-width: 110px !important;
}

#formKeKhaiSoLieu table,
#formGiaiTrinhSoLieu table,
#formChotSoLieu table {
    border-collapse: separate;
    width: 100%;
    margin-left: 0px !important;
}

    #formKeKhaiSoLieu table tr td,
    #formGiaiTrinhSoLieu table tr td,
    #formChotSoLieu table tr td {
        border-right: 1px solid black !important;
        border-bottom: 1px solid black !important;
        border-left: none !important;
        border-top: none !important;
        vertical-align: middle !important;
        padding: 5px;
        word-break: break-word;
        min-width: 70pt;
    }

    #formKeKhaiSoLieu table tr:first-of-type td,
    #formGiaiTrinhSoLieu table tr:first-of-type td,
    #formChotSoLieu table tr:first-of-type td {
        border-top: 1px solid black !important;
    }

    #formKeKhaiSoLieu table tr td:first-of-type,
    #formGiaiTrinhSoLieu table tr td:first-of-type,
    #formChotSoLieu table tr td:first-of-type {
        border-left: 1px solid black !important;
        /*    border-top: none !important;*/
    }

    #formKeKhaiSoLieu table tr td:last-of-type,
    #formGiaiTrinhSoLieu table tr td:last-of-type,
    #formChotSoLieu table tr td:last-of-type {
        /*    border-right: none !important;*/
        border-left: none !important;
    }

    #formKeKhaiSoLieu table tr td span,
    #formGiaiTrinhSoLieu table tr td span,
    #formChotSoLieu table tr td span {
        white-space: inherit;
        font-style: normal;
    }

p.pt-Normal {
    line-height: inherit;
    background:none !important;
}

.tooltip-inner {
    font-size: 8px;
}



.red {
    color: red;
}

.content-docx {
    /*overflow-x: hidden;*/
}

    .content-docx table {
        width: 100%;
    }



    .content-docx textarea {
        line-height: 16px;
        background-size: 100% 26px;
        margin: 0px;
        margin-top: 5px;
    }

        .content-docx textarea:focus {
            outline: none;
        }

td.pt-000019, td.pt-000050 {
    border: 1px solid !important;
}

.modal-body {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.tab-content {
    padding-top: 10px;
}



#myTabContent table tbody tr:first-child {
    height: 30px !important;
}

    #myTabContent table tbody tr:first-child td {
        background: #92d050 !important;
    }

        #myTabContent table tbody tr:first-child td:nth-child(1) {
            width: 5% !important;
        }

        #myTabContent table tbody tr:first-child td:nth-child(2) {
            width: 25% !important;
        }

        #myTabContent table tbody tr:first-child td:nth-child(3) {
            width: 5% !important;
        }

        #myTabContent table tbody tr:first-child td:nth-child(5) {
            width: 23% !important;
        }

        #myTabContent table tbody tr:first-child td:nth-child(6) {
            width: 17% !important;
        }

        #myTabContent table tbody tr:first-child td:last-child {
            width: 8% !important;
        }

#myTabContent .tab-pane:first-child table tbody tr:first-child td:nth-child(1) {
    width: 5% !important;
}

#myTabContent .tab-pane:first-child table tbody tr:first-child td:nth-child(2) {
    width: 23% !important;
}

#myTabContent .tab-pane:first-child table tbody tr:first-child td:nth-child(3) {
    /*width: 25% !important;*/
    width: 5% !important;
}

#myTabContent .tab-pane:first-child table tbody tr:first-child td:nth-child(4) {
    width: 20% !important;
}

#myTabContent .tab-pane:first-child table tbody tr:first-child td:last-child {
    width: 10% !important;
}

.content-docx p span {
    line-height: 26px;
    font-style: normal;
}

#myTabContent table tbody tr p span {
    font-weight: normal;
    font-style:normal;
}

#myTabContent table tbody tr:first-child p span {
    font-weight: bold !important;
    font-style: normal;
}

#myTabContent p span {
    font-family: 'Times New Roman', 'serif' !important;
    font-size: 12pt;
    color: #000000;
    font-style: normal;
}

.ajax-upload-dragdrop span b {
    font-size: 9pt !important;
}

#myTabContent table tbody tr:nth-child(2) td {
    background: #ffff00 !important;
}

html input[disabled] {
    border: none;
}
/*menu*/


.content-docx .nav-tabs > li > a {
    margin-right: 0px;
    border-radius: 0;
    background: #bdd7ee;
    color: #000000;
    font-size: 11pt;
    text-align: center;
    font-family: 'Times New Roman', 'serif';
    font-weight: bold;
    height: 7rem;
    border-left: 1px solid #ddd;
}

.content-docx .nav-tabs > li.active > a {
    background-color: #fff;
    color: #000000;
}

.forchuyenvien {
    color: #da1f1f !important;
    font-weight: bold !important;
}


/*Tien ich*/
.ace-aside.aside-below-nav {
    padding-top: 4.5rem;
}

.ace-aside.aside-right {
    right: 0;
    left: auto;
}

.ace-aside.aside-left, .ace-aside.aside-right {
    top: 0;
    bottom: 0;
    height: auto;
}

.ace-aside.modal-nb {
    overflow: visible !important;
}

.ace-aside.modal-nb {
    pointer-events: none;
    z-index: 1016;
}

.ace-aside {
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: auto;
    height: auto;
    visibility: hidden;
}

.ace-aside {
    transition: z-index 0s 250ms;
}

    .ace-aside.aside-right.aside-offset .modal-dialog {
        -webkit-transform: translateX(100%) translateX(-3rem);
        transform: translateX(100%) translateX(-3rem);
    }

    .ace-aside.aside-right .modal-dialog {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -ms-flex-direction: row;
        flex-direction: row;
        margin-right: 0;
    }

    .ace-aside.aside-left .modal-dialog, .ace-aside.aside-right .modal-dialog {
        -ms-flex-align: center;
        align-items: center;
        width: 500px;
        max-width: calc(100vw - 1rem);
        height: 100%;
        max-height: 100%;
    }

    .ace-aside .modal-dialog {
        margin: 0 auto;
        display: -ms-flexbox;
        display: flex;
        transition: -webkit-transform 250ms;
        transition: transform 250ms;
        transition: transform 250ms,-webkit-transform 250ms;
        max-width: none;
    }

    .ace-aside.aside-left .modal-dialog .aside-header, .ace-aside.aside-right .modal-dialog .aside-header {
        width: 3rem;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        word-break: break-all;
    }

    .ace-aside .modal-dialog .aside-header {
        pointer-events: all;
        position: relative;
        z-index: 1;
        visibility: visible;
    }

body:not(.is-document-loaded) * {
    /*transition: none !important;*/
}

.d-style:hover .f-hover, .d-style:not(:hover) .f-n-hover {
    opacity: .86;
    transition: opacity 120ms;
}

.btn-orange {
    color: #fff;
    background-color: #ff8d03;
    border-color: #ff8d03;
}

.radius-l-2 {
    border-top-left-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
}

.text-110 {
    font-size: 1.1em !important;
}

.content-docx .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    height: 7rem;
}

.label-comment {
    overflow: hidden;
    word-break: break-word;
}



.done-ykien-lan2-no {
    text-decoration: line-through;
    font-weight: bold;
    color: #a94442 !important;
    font-style: italic;
}

.done-ykien-lan2-yes {
    font-weight: bold;
    color: #3c763d !important;
    font-style: italic;
}

.floatright {
    float: right;
}



#myTabContent table {
    position: relative;
    margin-left: 0pt !important;
}

    table.pt-000000 {
        margin-left: 0pt !important;
    }

    table tbody tr td {
        vertical-align: top !important;
    }

    table tr:first-child td {
        top: 0;
        position: sticky;
        z-index: 99;
    }

#myTabContent table tbody tr:first-child td:nth-child(1) {
    width: 2% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(2) {
    width: 15% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(3) {
    width: 5% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(4) {
    width: 5% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(5) {
    width: 15% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(6) {
    width: 13% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(7) {
    width: 20% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(8) {
    width: 5% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(9) {
    width: 5% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(10) {
    width: 5% !important;
}

#myTabContent table tbody tr:first-child td:nth-child(11) {
    width: 5% !important;
}

.btn-group {
    display: block;
}

.limit-50 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myTabContent table tbody tr:nth-child(n+2) td:nth-child(5) {
    width: 15% !important;
    /*word-break: break-all;*/
}

#myTabContent table tbody tr:nth-child(n+2) td:nth-child(7) {
    width: 20% !important;
    word-break: break-all;
}

/*sửa phần hiển thị điểm cho căn giữa*/
#myTabContent table tbody td:last-child,
#myTabContent table tbody td:last-child p,
#myTabContent table tbody td:last-child span {
    text-align: center !important;
    font-style: normal !important;
}




#formKeKhaiSoLieu .modal-content,
#formGiaiTrinhSoLieu .modal-content,
#formChotSoLieu .modal-content {
    padding-left: 0;
    padding-right: 0;
}

#formKeKhaiSoLieu .tab-content,
#formGiaiTrinhSoLieu .tab-content,
#formChotSoLieu .tab-content {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}


.btn-rasoat {
    margin: 10px 0;
}

.lbl-solieu-kekhai {
    /*font-weight: bold !important;
    font-style: italic;*/
    font-size: 15px;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

.lbl-solieu-kekhai-not-empty {
    color: blue !important;
}

.lbl-solieu-kekhai-empty {
    color: red !important;
}

.lbl-solieu-rasoat {
    color: #B74635 !important;
    /*font-style: italic;*/
    display: block;
    text-align: center;
}

.lbl-ykien-rasoat {
    color: #ff8d03 !important;
    margin-top: 5px;
    display: block;
    text-align: center;
}

.lbl-ghichu-rasoat {
    color: blue !important;
    display: block;
    text-align: center;
}

.has-changed-after-rasoat {
    text-decoration: line-through;
}

/*phần để footer được sticky ở bottom*/
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content-docx p span {
    word-break: break-word !important;
    font-style: normal;
}


#block-navigate-kekhai {
    padding: 10px;
}


.btn-info-tieuchi, .btn-info-tieuchi:hover {
    background: #fff !important;
    border: none !important;
}

/**
    icon danh sách tiêu chí liên quan
*/

.icon-tieuchi-lienquan {
    cursor: pointer;
}

/**
    danh sách tiêu chí liên quan
*/
.block-tieuchi-lienquan ul li {
    list-style: none;
    text-align: left;
}


.pt-Normal-000009{
    background:none !important;
}